<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위 코드가 mapper 설정을 하는 코드 -->

<!-- Mapper를 사용하는 Repository의 전체 경로를 적어줘야함. -->
<mapper namespace="com.example.mapper.UserMapper">
<select id="checkId" resultType="boolean">
	select exists (select id from account where id = #{id} and pwd = #{pwd})
</select>
<update id="lastLogin" parameterType="com.example.vo.UserVO">
	update account set last_login = now() where id= #{id}
</update>
<select id="lastLoginCheck" parameterType="com.example.vo.UserVO" resultType="boolean">
	select last_login::timestamp  &lt; ( now()::timestamp - '20seconds'::interval) from account where id=#{id} 
</select>

<select id="accountLock" parameterType="com.example.vo.UserVO" resultType="boolean">
	select lock from account where id = #{id}
</select>
<update id="changeLock" parameterType="com.example.vo.UserVO">
	update account set lock = not lock where id = #{id}
</update>

<select id="checkBoard" resultType="boolean" parameterType="map">
	select exists (select board_no, account_id from board where board_no=#{board_no} and account_id=#{account_id})
</select>

<insert id="save" parameterType="com.example.vo.UserVO">
	insert into account values(#{id}, #{pwd}, #{name})
</insert>

<insert id="boardUpload" parameterType="com.example.vo.BoardVO">
	insert into board(title, text, account_id, imagefile, category)
	<if test = 'imagefile == null'>
	 	values(#{title}, #{text}, #{account_id}, #{imagefile}, 1)
	</if>
	<if test="imagefile != null">
		values(#{title}, #{text}, #{account_id}, #{imagefile}, 2)
	</if>
</insert>

<select id="getList" resultType="com.example.vo.UserVO">
	select * from account order by id
</select>

<select id="getBoardList" resultType="com.example.vo.BoardVO">
	select * from board
	<if test="category != 0">
		where category = #{category}
	</if>
	
	 order by board_no
</select>

<select id="checkCntId"	resultType="int">
	select login_cnt from account where id = #{id}
</select>

<select id="findAll" parameterType="HashMap" resultType="com.example.vo.BoardVO">
	select * from board 
	<if test="category != 0">
		where category = #{category}
	</if>
	order by board_no limit #{searchVO.recordSize} offset #{searchVO.offset}
</select>

<delete id="delUser">
	delete from account where id = #{id}
</delete>

<delete id="delBoard">
	delete from board where board_no = #{board_no} and account_id = #{account_id}
</delete>

<select id="alterUser" resultType="com.example.vo.UserVO">
	select * from account where id = #{id}
</select>

<update id="changeUser">
	update account set pwd=#{pwd}, name=#{name} where id = #{id}
</update>
<update id="boardAlter">
	update board set title=#{title}, text=#{text}, imagefile=#{imagefile} where account_id=#{account_id} and board_no = #{board_no}
</update>

<select id="checkLogin" resultType="boolean">
	select exists (select id, pwd from account where id=#{id} and pwd=#{pwd})
</select>

<select id="alterBoard" resultType="com.example.vo.BoardVO">
	select * from board where board_no = #{board_no}
</select>

<select id="searchBoard" parameterType="HashMap" resultType="com.example.vo.BoardVO">
	 select * from board where
	 
	 	<if test="category != 0 ">
	 		category=#{category} and 
	 	</if>
		<if test = 'droper == "title" and search != null ' >
          title like '%'||#{search}||'%' 
        </if>
        <if test = 'droper == "text" and search != null ' >
          text like '%'||#{search}||'%' 
        </if>
        <if test = 'droper == "account_id" and search != null ' >
          account_id like '%'||#{search}||'%' 
        </if>
    	
    	order by board_no limit #{searchVO.recordSize} offset #{searchVO.offset} 
    
  <!-- select * from board where ${droper} like concat('%',#{search},'%') order by board_no limit #{searchVO.recordSize} offset #{searchVO.offset} !-->
</select>

<select id="searchAllBoard" parameterType="HashMap"  resultType="com.example.vo.BoardVO">
	<!-- select * from board 
		<if test = 'droper == "title || text || account_id" and search != null '>
		where title || text || account_id like '%'||#{search}||'%'
		</if>
		<if test = 'droper == "title" and search != null ' >
         where title like '%'||#{search}||'%' 
        </if>
        <if test = 'droper == "text" and search != null ' >
         where text like '%'||#{search}||'%' 
        </if>
        <if test = 'droper == "account_id" and search != null ' >
         where account_id like '%'||#{search}||'%' 
        </if>
    order by board_no !-->
    
      select * from board where 
      <if test="category != 0">
      		category = #{category} and 
      </if>
      ${droper} like '%'||#{search}||'%' order by board_no limit #{searchVO.recordSize} offset #{searchVO.offset}
</select>

<update id="cntChange">
	update account set login_cnt = #{login_cnt} where id = #{id}
</update>
</mapper>