<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위 코드가 mapper 설정을 하는 코드 -->

<!-- Mapper를 사용하는 Repository의 전체 경로를 적어줘야함. -->
<mapper namespace="com.example.mapper.UserMapper">
<select id="checkId" resultType="boolean">
	select exists (select id from account where id = #{id} and pwd = #{pwd})
</select>

<select id="checkBoard" resultType="boolean" parameterType="map">
	select exists (select board_no, account_id from board where board_no=#{board_no} and account_id=#{account_id})
</select>

<insert id="save" parameterType="com.example.vo.UserVO">
	insert into account values(#{id}, #{pwd}, #{name})
</insert>

<insert id="boardUpload" parameterType="com.example.vo.BoardVO">
	insert into board(title, text, account_id) values(#{title}, #{text}, #{account_id})
</insert>

<select id="getList" resultType="com.example.vo.UserVO">
	select * from account order by id
</select>
<select id="getBoardList" resultType="com.example.vo.BoardVO">
	select * from board order by board_no
</select>

<delete id="delUser">
	delete from account where id = #{id}
</delete>

<delete id="delBoard">
	delete from board where board_no = #{board_no} and account_id = #{account_id}
</delete>

<select id="alterUser" resultType="com.example.vo.UserVO">
	select * from account where id = #{id}
</select>

<update id="changeUser">
	update account set pwd=#{pwd}, name=#{name} where id = #{id}
</update>
<update id="boardAlter">
	update board set title=#{title}, text=#{text} where account_id=#{account_id} and board_no = ${board_no}
</update>


<select id="checkLogin" resultType="boolean">
	select exists (select id, pwd from account where id=#{id} and pwd=#{pwd})
</select>
<select id="alterBoard" resultType="com.example.vo.BoardVO">
	select * from board where board_no = #{board_no}
</select>
</mapper>