<!DOCTYPE html>
<html>
<head>
<title> 회원가입 </title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <script src="/js/bootstrap.js"></script>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<h1><p class="text-center">회원가입</p></h1>
<div class="container">
  <div class="form-group">
    <label for="email">ID:</label>
    <input type="text" class="form-control" placeholder="ID" id="id">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" placeholder="password" id="pwd">
  </div>
  <div class="form-group">
    <label for="pwd">Name:</label>
    <input type="text" class="form-control" placeholder="Name" id="name">
  </div>
  <button type="button" class="btn btn-primary" onclick="addUser()">회원가입</button>
</div>

<script type="text/javascript" src="/js/crud/account.js"></script>
</body>
</html>