<!DOCTYPE html>
<html lang="en">
<head>
  <title>수정</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <script src="/js/bootstrap.js"></script>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>

<div class="container" th:each="l: ${board}">
<h1><p class="text-center">게시글 수정</p></h1>
<form action="/board/boardAlter" method="post" enctype="multipart/form-data">
    <div class="input-group mb-3">
        <span class="input-group-text">제목</span>
        <input type="text" name="title" class="form-control" th:value="${l.title}"/>
      </div>
  <div class="input-group mb-3">
        <span class="input-group-text">내용</span>
      <textarea class="form-control" rows="5" name="text" th:text="${l.text}"></textarea>
  </div>
  <input type="file" name="imageFiles" th:values="${l.imagefile}"/>
  <input type="hidden" name="board_no" th:value="${l.board_no}"/>
  <input type="hidden" name="account_id" th:value="${l.account_id}"/>
  <button type="submit" class="btn btn-primary">등록하기</button>
  
</form>
</div>
</body>
</html>