<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title> index </title>
</head>
<body>
<h1>유저 리스트</h1>

<div th:with="uList=${userList}">
<table border="1">
				<tr>
					<th>회원아이디</th>
					<th>회원비밀번호</th>
					<th>회원이름</th>
				</tr>
				<tr th:if="${not #lists.isEmpty(uList)}" th:each="l,i : ${uList}">
					<td th:text="${l.id}"></td>
					<td th:text="${l.pwd}"></td>
					<td th:text="${l.name}"></td>
					<td><a th:href="@{{lid}(lid=${l.id})}">삭제</a></td>
				</tr>
				<tr th:unless="${not #lists.isEmpty(userList)}">
					<td colspan="7">등록된 회원의 정보가 없습니다.</td>
				</tr>
		</table>
</div>	
</body>
</html>